# Ignore large datasets and indexes
# data/*.npy
# data/*.hdf5
# indexes/**/hnsw.bin
# Ignore large data files
indexes/
idx_brute/
data/

# Ignore Python cache and virtualenv
*.pyc
*.pyo
*.pyd
venv/
nanoann/__pycache__


